<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
  		http://www.springframework.org/schema/beans 
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/util 
  		http://www.springframework.org/schema/util/spring-util-4.0.xsd
  		http://www.springframework.org/schema/context 
  		http://www.springframework.org/schema/context/spring-context-4.0.xsd
  		http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx.xsd
    	http://www.springframework.org/schema/task 
    	http://www.springframework.org/schema/task/spring-task-4.0.xsd">
    	
	<context:component-scan base-package="com.trivecta.zipryde" />
	<mvc:annotation-driven />
	<tx:annotation-driven /> 	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ZIPRYDE" />
		<property name="username" value="root" />
 		<!-- <property name="password" value="Welcome$123" /> -->     
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.trivecta.zipryde.model.entity.Booking</value>
				<value>com.trivecta.zipryde.model.entity.BookingRequest</value>
				<value>com.trivecta.zipryde.model.entity.BookingHistory</value>
				<value>com.trivecta.zipryde.model.entity.CabPermit</value>
				<value>com.trivecta.zipryde.model.entity.CabType</value>
				<value>com.trivecta.zipryde.model.entity.Commission</value>
				<value>com.trivecta.zipryde.model.entity.CommissionMstr</value>
				<value>com.trivecta.zipryde.model.entity.DriverProfile</value>
				<value>com.trivecta.zipryde.model.entity.DriverVehicleAssociation</value>
				<value>com.trivecta.zipryde.model.entity.Make</value>
				<value>com.trivecta.zipryde.model.entity.Model</value>
				<value>com.trivecta.zipryde.model.entity.Nyop</value>
				<value>com.trivecta.zipryde.model.entity.OtpVerification</value>
				<value>com.trivecta.zipryde.model.entity.Payment</value>
				<value>com.trivecta.zipryde.model.entity.PricingMstr</value>
				<value>com.trivecta.zipryde.model.entity.PricingType</value>
				<value>com.trivecta.zipryde.model.entity.Status</value>
				<value>com.trivecta.zipryde.model.entity.User</value>
				<value>com.trivecta.zipryde.model.entity.UserPreferedLocation</value>
				<value>com.trivecta.zipryde.model.entity.UserType</value>
				<value>com.trivecta.zipryde.model.entity.UserSession</value>
				<value>com.trivecta.zipryde.model.entity.VehicleDetail</value>
				<value>com.trivecta.zipryde.model.entity.ZiprydeConfiguration</value>
				<value>com.trivecta.zipryde.model.entity.ZiprydeMstr</value>
				<value>com.trivecta.zipryde.model.entity.LostItem</value>	
				<value>com.trivecta.zipryde.model.entity.AppVersion</value>				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />		
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		 <property name="maxUploadSize" value="50000000"/>
	</bean>

	<!--
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="psuganya.mdu@gmail.com" />
		<property name="password" value="123456" />
		
		<property name="javaMailProperties">
			<props>
		       	<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
			</props>
		</property>
	</bean>
	<bean id="emailService" class="com.trivecta.zipryde.framework.utility.EmailService">
		<property name="mailSender" ref="mailSender" />
		<property name="velocityEngine" ref="velocityEngine"/>		
	</bean>
	 <bean id="textLocalSMS" class="com.trivecta.zipryde.framework.utility.TextLocalSMS">
		<property name="velocityEngine" ref="velocityEngine"/>		
	</bean>
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
	    <property name="velocityProperties">
	        <props>
	            <prop key="resource.loader">class</prop>
	            <prop key="class.resource.loader.class">
	                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
	            </prop>
	        </props>
	    </property>
	</bean> -->
</beans>